<!DOCType html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LED Switch Demo</title>
    <link rel="icon" type="image/gif" href="imgs/favicon.gif">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="app">
        <div class="banner">
            <img src="imgs/guineapig.gif" />
            <div class="site">Guineapig Lab</div>
            <div class="title">LED Matrix Demo</div>
        </div>
        <div class="hole">
            <div class="flex-box">
                <label>
                    <span class="tag">CLOCK</span>
                    <div class="switch-wrap">
                        <input type="checkbox" v-model="ClockMode" />
                        <div class="switch"></div>
                    </div>
                </label>
            </div>
            <div class=slider>
                <dl>
                    <dt>BRIGHTNESS</dt>
                    <dd>
                        <input type="range" min="0" step="1" max="15" class="slider" v-model="Brightness" />
                    </dd>
                </dl>
            </div>
            <div v-show="!ClockMode">
                <div>
                    <input type=text v-model="Message" placeholder="Message" />
                </div>
                <div>
                    <button v-on:click="SendMessage()">Set Text</button>
                </div>
                <div class="flex-box">
                    <label>
                        <div class="switch-wrap">
                            <input type="checkbox" v-model="EnableScroll" />
                            <div class="switch"></div>
                        </div>
                        <span class="tag">SCROLL</span>
                    </label>
                </div>
                <div class=slider v-show="EnableScroll">
                    <dl>
                        <dt>SPEED</dt>
                        <dd>
                            <input type="range" min="30" step="5" max="90" class="slider" v-model="Speed" />
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.11/vue.global.prod.js -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- https://code.jquery.com/jquery-3.6.0.min.js -->
    <script src="js/vue.global.prod.js"></script>
    <script src="js/main.js"></script>
    <script src="/status"></script>
</body>

</html>